@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-padding-top: 80px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.paginationText {
  @apply text-[rgb(76,76,76)] text-[clamp(0.7rem,0.2rem+1vw,1rem)];
  text-align: start;
  font-family: var(--font-minecraft);
  color: white;
}

.popupOuter {
  @apply border-2 border-black;
}

.popupInner {
  @apply border-3 bg-[rgb(198,198,198)]   border-t-white border-l-white border-r-[rgb(85,85,85)] border-b-[rgb(85,85,85)] p-1 flex flex-col gap-4 justify-center;
}

.popupContent {
  @apply border-3 bg-black/80 border-t-[rgb(57,57,57)] border-l-[rgb(57,57,57)] border-r-white border-b-white p-3 grid grid-rows-[minmax(0,1fr)_auto];
}

.loadMenu {
  @apply fixed inset-0 z-9999 flex items-center justify-center bg-[rgb(46,33,23)] text-[clamp(1.5rem,0.5rem+2vw,2rem)];
  font-family: var(--font-mc-nametag);
  color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: medium;
}

h2 {
  @apply text-[clamp(1.5rem,0.5rem+2vw,5rem)] text-center;
  padding: 0;
  margin: 0;
  font-family: var(--font-minecrafter-reg);
  color: rgb(30,30,31);
}

.fadeSlideUp {
  animation: fadeSlideUp 0.5s ease-out both;
}

.minecraftButtonBorder {
  @apply border-2 border-black ;
}

.minecraftButtonBorder:hover, .minecraftButtonBorder:active {
  @apply border-white;
}

.minecraftButton, .minecraftButtonBorder {
  cursor: pointer;
}

.minecraftButton {
  @apply border-3 bg-[#D3D3D3] border-t-white border-l-white border-r-[rgb(86,86,86)] border-b-[rgb(86,86,86)];
  font-family: var(--font-mc-nametag);
}

.minecraftButton:active, .minecraftButtonBorder:active .minecraftButton {
  @apply bg-[#313233] border-t-[#2B2B2B] border-l-[#2B2B2B] border-r-white border-b-white;
}

.minecraftButton:active,
.minecraftButton:active * {
  color: white !important;
}

.credit {
  @apply bg-[rgb(30,30,31)] text-[clamp(0.7rem,0.5rem+1vw,1rem)] w-fit p-1 self-center;
  font-family: var(--font-mc-nametag);
  color: white;
}

.stackCard {
  @apply flex flex-col gap-5 border-2 border-black bg-black/40 min-w-0;
}

.dividerTop {
  @apply bg-[rgb(37,35,29)] w-full h-1;
}

.dividerBottom {
  @apply bg-[rgb(8,6,3)] w-full h-1;
}

.section {
  @apply px-[clamp(1rem,7vw,8rem)];
}

.subsection {
  @apply border-2 border-[rgb(30,30,31)] bg-[rgb(49,50,51)] p-2;
}

.subsectionHeader {
  @apply border-t-2 border-l-2 border-r-2 border-[rgb(30,30,31)] bg-[rgb(49,50,51)] text-[clamp(1.5rem,0.5rem+2vw,5rem)]  w-fit p-2 self-center relative top-0.5;
  font-family: var(--font-minecrafter-reg);
  color: white;
}

.sectionHeader {
  @apply border-b-10 border-b-[rgb(177,178,181)]/60 bg-[rgb(230,232,235)] py-3;
}

.sectionContent {
  @apply bg-black/20 p-[clamp(0.8rem,1vw,3rem)] border-2 border-black flex flex-col gap-20 py-20 pb-20;
}


@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}