@reference "tailwindcss";

.header {
  @apply text-[clamp(1.5rem,0.5rem+2vw,5rem)];
  font-family: var(--font-minecrafter-reg);
  color: white;
}

.subheader {
  @apply text-[clamp(0.5rem,0.5rem+0.8vw,1rem)];
  font-family: var(--font-minecraft);
  color: grey;
}
